/*header section*/
.hero_area {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(#0c4b9e), color-stop(#08bd88), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to bottom, #0c4b9e, #08bd88, rgba(0, 0, 0, 0));
  }
  
  .sub_page .header_section {
    background: -webkit-gradient(linear, left top, right top, from(#0856dd), to(#3d3e94));
    background: linear-gradient(to right, #0856dd, #3d3e94);
  }
  
  .sub_page .client_section {
    margin-top: 90px;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
    width: 22px;
    margin-right: 15px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px;
    color: #fefeff;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .custom_menu-btn {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 15px;
  }
  
  .custom_menu-btn button {
    margin-top: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  
  .custom_menu-btn span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_menu-btn .s-2 {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    width: 20px;
  }
  
  .menu_btn-style {
    position: fixed;
    left: 22px;
    top: 15px;
  }
  
  .menu_btn-style button {
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
  }
  
  .menu_btn-style button .s-1 {
    -webkit-transform: rotate(45deg) translateY(17px);
            transform: rotate(45deg) translateY(17px);
  }
  
  .menu_btn-style button .s-2 {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  
  .menu_btn-style button .s-3 {
    -webkit-transform: rotate(-45deg) translateY(-17px);
            transform: rotate(-45deg) translateY(-17px);
  }
  
  .navbar-expand-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 86, 221, 0.95)), to(rgba(10, 216, 171, 0.95)));
    background: linear-gradient(to bottom, rgba(8, 86, 221, 0.95), rgba(10, 216, 171, 0.95));
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 60px;
  }
  
  .overlay a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 10px 0;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    width: 190px;
  }
  
  .overlay a:hover {
    border-color: transparent;
    background-color: #ffffff;
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .menu_width {
    width: 100%;
  }
  
  .scroll-y-hidden {
    overflow-y: hidden;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .fk_width {
    width: 105px;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 18px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    background-position: center;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .navbar-brand img {
    width: 60px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 10px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 55px;
  }
  
  .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .user_option a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  
  .user_option a img {
    width: 20px;
    margin-right: 10px;
  }
  
  .user_option a span {
    color: #ffffff;
    text-transform: uppercase;
  }
  
  /*end header section*/